/* 기본 리셋 */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  /* 스크롤 방지 */
  box-sizing: border-box;
}

/* 로고 이미지 */

.logo {
  width: 150px;
  height: auto;
  margin: -30px auto;
  position: absolute;
}

/* 번역 버튼 위치 */
.translate {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

/* section 및 footer */
.section {
  padding: 2rem;
  background-color: #f0f3f8;
}

.footer {
  text-align: left;
  padding: 2rem;
  background-color: #4a6fa5;
  color: white;
  margin-top: -2rem;
}

hr.small-line {
  width: 25%;
  height: 2px;
  background-color: white;
  border: none;
}

/* 사이드바 */
.floating-sidebar {
  position: fixed;
  top: 35%;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.floating-button1 {
  background-color: #5988ca;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  color: white;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin: 0px 30px 0px 0px;
}

.floating-button:hover {
  background-color: #2c5083;
}


